.center-text { 
    text-align: center;
}
#hm {
    display: none;
}

p {
    display: none;
    font-size: 30px;
}

/*
Vg’f yvxr vg’f uvz ohg abg
Yvxr n gbgnyyl qvssrerag crefba
Uvf rkcerffvba, jnyxvat
Rira uvf jbeqf ner fbzrjung cbrgvp?

unir lbh rira zrg uvz guvf jrrx?

Bx
Ohg V’z gryyvat lbh zna
V guvax ur arrqf fbzr uryc

Bx
Lbh zvtug n unir n cbvag gurer

Lrnu
Xrrc qernzvat
ohg gurer vf fbzrguvat gung V fgvyy qvqa’g trg vg gubh

Vg’f fbzr cncre gung Pnrfre tnir zr
Jung! AB!

Vqx
Vg’f uneq gb rkcynva
Ubyq ba
V’yy fraq lbh gur cvp bs vg

Qhqr… fgbc

*Vzntr fraqf ohg oyheel sbe rapbqr*

Evtug
V xrrc fgneevat ng vg ohg V pna’g chg n svatre ba vg
Rirel ghea V znxr yrnqf gb n qrnq raq
V rira nfx gur bguref vs gurl xabj

Abcr
Abg n fvatyr lrf

Nccneragyl fb

Nalguvat sebz lbhe raq?

Uhu
Tb svther

Lrnu
V nfx uvz vs gur bgure erprvirq vg
Naq ur fnvq ab
Vg'f gur ynfg bs gurz, ur fnvq
*/